<footer class="site-footer1" role="contentinfo" aria-label="Restaurant footer">
  <div class="ft-wrap">
    <div class="ft-left">
      <p>© <span id="currentYear"></span> La Casita de Nazareno · All rights reserved</p>
    </div>
    <div class="ft-right social-icons">
      <a href="https://www.instagram.com/Lacasitasc_/?hl=es" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
     <!-- <a href="https://tiktok.com" target="_blank" aria-label="TikTok">
        <i class="fa-brands fa-tiktok"></i>
      </a>
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://x.com" target="_blank" aria-label="X">
        <i class="fa-brands fa-x-twitter"></i>
      </a> -->
    </div>
  </div>
</footer>

<footer class="site-footer2" role="contentinfo" aria-label="Menuria footer">
  <div class="ft-wrap">
    <div class="ft-left">
      <p>© Menuria Solutions S.L. · All rights reserved</p>
    </div>
    <div class="ft-right social-icons">
     <!-- <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
        <i class="fa-brands fa-youtube"></i> -->
      </a>
      <a href="https://www.instagram.com/menuriasolutionssl/" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <!-- ✉️ EMAIL -->
      <a href="mailto:menuriasolutions@gmail.com" aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <!--<a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i> 
      </a>-->
    </div>
  </div>
</footer>
